.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

.content-wrapper,
.left-side {
  background-color: #ffffff;
}